---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% include base_path %}
<p class="talks-intro">Selected presentations and seminars, with a few moments from the conversations around them.</p>

{% if site.talkmap_link == true %}
<p><a href="{{ base_path }}/talkmap.html">View the talk map</a></p>
{% endif %}

<div class="talks-list">
  {% assign ordered_talks = site.talks | sort: 'date' | reverse %}
  {% for post in ordered_talks %}
    {% unless post.hide_from_talks %}
      {% include talk-card.html %}
    {% endunless %}
  {% endfor %}
</div>
