<details class="bio-resources" id="author-resources">
  <summary><span data-lang="en">Author resources</span><span data-lang="zh" hidden>投稿资料</span></summary>
  <div class="bio-resources-content">
    <section class="bio-resource" aria-labelledby="bio-short-title">
      <div class="bio-resource-header">
        <h3 id="bio-short-title"><span data-lang="en">Short bio</span><span data-lang="zh" hidden>简短作者信息</span></h3>
        <button type="button" data-copy-target="bio-short" hidden><span data-lang="en">Copy LaTeX</span><span data-lang="zh" hidden>复制 LaTeX</span></button>
      </div>
      <pre><code id="bio-short" tabindex="0">Binquan~Guo,~\IEEEmembership{Senior Member, IEEE}
\thanks{Binquan~Guo is with the Pillar of Information Systems Technology and Design, Singapore University of Technology and Design, Singapore 487372 (e-mail: bqguo@stu.xidian.edu.cn).}</code></pre>
    </section>
    <section class="bio-resource" aria-labelledby="bio-journal-title">
      <div class="bio-resource-header">
        <h3 id="bio-journal-title"><span data-lang="en">Journal biography</span><span data-lang="zh" hidden>期刊论文简介</span></h3>
        <button type="button" data-copy-target="bio-journal" hidden><span data-lang="en">Copy LaTeX</span><span data-lang="zh" hidden>复制 LaTeX</span></button>
      </div>
      <pre><code id="bio-journal" tabindex="0">\begin{IEEEbiography}[{\includegraphics[width=1in,height=1.25in,clip,keepaspectratio]{binquan_guo.eps}}]{Binquan Guo}
(Senior Member, IEEE) received the B.S., M.S., and Ph.D. degrees in telecommunication engineering from Xidian University, Xi'an, China, in 2017, 2020, and 2025, respectively. He is currently with the Pillar of Information Systems Technology and Design, Singapore University of Technology and Design, Singapore. His research interests include satellite networking, green computing, graph theory, AI, semantic communication, routing and scheduling.
\end{IEEEbiography}</code></pre>
    </section>
    <section class="bio-resource" aria-labelledby="bio-magazine-title">
      <div class="bio-resource-header">
        <h3 id="bio-magazine-title"><span data-lang="en">Magazine biography</span><span data-lang="zh" hidden>Magazine 论文简介</span></h3>
        <button type="button" data-copy-target="bio-magazine" hidden><span data-lang="en">Copy LaTeX</span><span data-lang="zh" hidden>复制 LaTeX</span></button>
      </div>
      <pre><code id="bio-magazine" tabindex="0">\indent \textbf{Binquan Guo} (bqguo@stu.xidian.edu.cn) (Senior Member, IEEE) received the B.S., M.S., and Ph.D. degrees in telecommunication engineering from Xidian University, Xi'an, China, in 2017, 2020, and 2025, respectively. He is currently with the Pillar of Information Systems Technology and Design, Singapore University of Technology and Design, Singapore. His research interests include satellite networking, green computing, semantic communication, graph theory, AI, routing and scheduling.</code></pre>
    </section>
    <section class="bio-resource" aria-labelledby="bio-grants-title">
      <div class="bio-resource-header">
        <h3 id="bio-grants-title"><span data-lang="en">Funding acknowledgement</span><span data-lang="zh" hidden>资助致谢</span></h3>
        <button type="button" data-copy-target="bio-grants" hidden><span data-lang="en">Copy LaTeX</span><span data-lang="zh" hidden>复制 LaTeX</span></button>
      </div>
      <pre><code id="bio-grants" tabindex="0">\thanks{This work is supported in part by the National Natural Science Foundation of China under Grant 62171456, and in part by A*STAR under its IAF-ICP (H25-MCP3438).}</code></pre>
    </section>
    <section class="bio-resource" aria-labelledby="bio-edas-title">
      <div class="bio-resource-header">
        <h3 id="bio-edas-title"><span data-lang="en">EDAS account</span><span data-lang="zh" hidden>EDAS 账号</span></h3>
        <button type="button" data-copy-target="bio-edas" hidden><span data-lang="en">Copy details</span><span data-lang="zh" hidden>复制信息</span></button>
      </div>
      <pre><code id="bio-edas" tabindex="0">Binquan Guo
13468897661@163.com</code></pre>
    </section>
    <section class="bio-resource" aria-labelledby="bio-reviewer-title">
      <div class="bio-resource-header">
        <h3 id="bio-reviewer-title"><span data-lang="en">Reviewer details</span><span data-lang="zh" hidden>审稿人信息</span></h3>
        <button type="button" data-copy-target="bio-reviewer" hidden><span data-lang="en">Copy details</span><span data-lang="zh" hidden>复制信息</span></button>
      </div>
      <pre><code id="bio-reviewer" tabindex="0">Binquan Guo
bqguo@stu.xidian.edu.cn
Xidian University
or Singapore University of Technology and Design</code></pre>
    </section>
    <div class="bio-downloads">
      <span data-lang="en">Author photo:</span><span data-lang="zh" hidden>作者照片：</span>
      <a href="{{ '/files/binquan_guo.eps' | relative_url }}" download="binquan_guo.eps">EPS</a>
      <a href="{{ '/files/binquan_guo-eps-converted-to.pdf' | relative_url }}" download="binquan_guo-eps-converted-to.pdf">PDF</a>
    </div>
    <p id="bio-copy-status" role="status" aria-live="polite" aria-atomic="true"></p>
  </div>
</details>
